<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Página Inicial - Joguinhos</title>
    <link rel="stylesheet" href="{% static 'jogo/css/home.css' %}">
</head>
<body>
    <div class="overlay"></div> <!-- Camada de fundo com transparência -->
    
    <div class="content">
        <h1>Bem-vindo aos Joguinhos musicais!</h1>
        <ul>
            <li><a href="{% url 'quiz_instrumento' %}">Quiz de Instrumento</a></li>
            
            <!-- Adicione mais joguinhos aqui -->
        </ul>
    </div>
</body>
</html>
