<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Página Inicial - Joguinhos</title>
    <link rel="stylesheet" href="{% static 'jogo/css/home.css' %}">
</head>
<body>
    <div class="overlay"></div> <!-- Camada de fundo com transparência -->
    
    <div class="content">
        <h1>Bem-vindo aos Joguinhos musicais!</h1>
        <ul>
            
            {% for jogo in jogos %}
                <li>
                    <a href="{% url 'jogo_detalhes' jogo.id %}">{{ jogo.nome }}</a>
                </li>
            {% endfor %}
        </ul><br>
        
    </div>
    <a href="{% url 'cadastro' %}" class="cadastro-link">Cadastrar Usuário</a> 
</body>
</html>
