<!-- nome_da_aplicacao/templates/nome_da_aplicacao/quiz_instrumento.html -->

<!DOCTYPE html>
<html lang="pt-br">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Quiz de Instrumento</title>
    <link rel="stylesheet" href="{% static 'jogo/css/style.css' %}">

    
</head>
<body>
    <h1>Qual é o nome destes instrumentos?<br>
    Acerte para ouvir o som dele!</h1>
    
    <!-- Exibe a imagem do instrumento -->
    <img src="{% static 'jogo/imagens/trompeteCrian.jpg' %}" alt="Trompete" style="width:300px; height:auto;"><br>

    <!-- Opções de resposta -->
    <button onclick="verificarResposta('Trompete')">Trompete</button>
    <button onclick="verificarResposta('Violino')">Violino</button>
    <button onclick="verificarResposta('Flauta')">Flauta</button>

    <!-- Áudio para resposta correta -->
    <audio id="audioAcerto" src="{% static 'jogo/sons/TrompeteAcerto.mp3' %}" preload="auto"></audio>
    <div id="gifAcerto">
        <img src="{% static 'jogo/imagens/gifAcerto.gif' %}" alt="Acerto" style="width:200px; height:auto;">
    </div>

   
    

    <script src="{% static 'jogo/js/script.js' %}"></script>
    <br>
    <a href="{% url 'home' %}">Voltar para a página inicial</a>
</body>
</html>
